/* Main tags */
html {
  scroll-behavior: smooth;
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
  
}

.a:hover {
  border-bottom: 1px solid gray;
  color: gray;
}

/* Header */
.main__header--container {
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 25px solid aliceblue;
  margin-bottom: 10px;
}

.nav__list {
  display: flex;
  flex-direction: row-reverse;
  background-color: aliceblue;
  margin-bottom: 10px;
}

.nav__links {
  display: flex;
  flex-wrap: wrap-reverse;
  list-style-type: none;
  padding: 5px;
  font-size: 18px;
  
}

.nav__links-item {
  margin-right: 10px;
  font-style: italic;
}

.main__title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}

.my__photo {
  border-radius: 50%;
}


/* Main */

.section-container {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 49%;
  margin: 0 0 15px 10px;
  border-bottom: 5px solid aliceblue;
  font-size: 20px;
}

.section__headers {
  font-style: italic;
  font-size: 30px;
  text-align: center;
}

.section__list {
  list-style-type: none;
}

.section__list--item {
  font-size: 25px;
  display: flex;
}

.section__list--icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.section__text {
  font-size: 20px;
  line-height: 1.5;
  text-indent: 25px;
}

.skills__list {
  color: gray;
  list-style-type: circle;
}


.code {
  background-color: beige;
}

.code__inner {
  max-width: 100%;
}

.code__tags {
  margin: 0;
}
.code__tags-blue {
  color: blue;
}

.code__tags-red {
  color: rosybrown;
}

.code__tags-gray {
  color: gray;
}

.code__tags-green {
  color: darkcyan;
}

.code__tags-methods {
  color: darkgreen;
}

#Projects {
  text-align: center;
}

.language__list {
  line-height: 1.8;
}



/* Footer */
.footer {
  background-color: aliceblue;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-around;  
  align-items: center;  
}

.footer__github {
  display: inline-flex;
  font-size: 25px;
  color: gray;
}

.footer__github-icon {
  margin-right: 10px;
}

/* Helpers */

.link__inText {
  text-decoration: none;
  color: blue;
  cursor: pointer;
}

.link__inText-gray {
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  color: darkslategray;
  cursor: pointer;
}